<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="logs/main.xml"/>
    <include resource="logs/json.xml"/>

    <springProfile name="showconsole">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="k8s">
        <root level="INFO">
            <appender-ref ref="json"/>
        </root>
    </springProfile>

    <springProfile name="write_logs">
        <root level="INFO">
            <appender-ref ref="main"/>
        </root>
    </springProfile>

</configuration>
